
body {
    background: #c5d3d9;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: auto;
    color: black;
}

h1 {
    font-size: 60px;
    text-transform:uppercase;
}

#textParent {
    background: white;
    box-shadow: inset 0 0 15px -2px #000;
    padding: 0;
    margin: 0 auto;
    width: 60vw;
    border-radius: 20px;
    border: #6db4d1 solid 10px;
}

#text, #inputObject {
    width: auto;
    background: transparent;
    margin: 0 auto;
    align-items: flex-end;
}

#text {
    z-index: 10;
    border-radius: 10px 10px 0 0;
    padding: 30px;
    font-size: 20px;
    text-align: left;
}

#inputObject {
    z-index: 5;
    border-radius: 0 0 10px 10px;
    padding: 20px 30px;
    margin: -10px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    border: #6db4d1 solid;
    border-width: 3px 0 0 0;
}
#inputObject:focus {
    outline: none;
}

#text span {
    margin: 0;
    padding: 0;
}

#correct {
    color: green;
}
#incorrect {
    color: #de2323;
    background: rgba(140, 31, 31, 0.5);
    border-radius: 5px;
}